@charset "utf-8";

/*Reset*/
*{margin: 0; padding: 0;}
li{list-style: none}
a{color: #333; text-decoration: none}
body,header,footer{font-family: '경기천년 제목', sans-serif; font-weight: normal}
fieldset,img,button{border: 0 }

