@charset "utf-8";

/*Reset*/
*{margin: 0; padding: 0;}
li{list-style: none}
a{color: #333; text-decoration: none}
body{font-family: '나눔고딕','Naum Gothic','맑은고딕', sans-serif;}
fieldset,img,button{border: 0 }

