@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster|Satisfy&display=swap');

/*Reset*/
*{margin: 0; padding: 0;}
li{list-style: none}
a{color: #333; text-decoration: none}
body{font-family: '나눔고딕','Naum Gothic', sans-serif;}
fieldset,img,button{border: 0 }

